{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    {% block head %}
      <head>
        <title>BrandSense</title>
          <link rel="stylesheet" type="text/css" href="{% static 'app_admin/css/../../static/app_admin/bootstrap/bootstrap.min.css' %}" />
          <link rel="stylesheet" type="text/css" href="{% static 'app_admin/font-awesome/css/font-awesome.min.css' %}" />
          <link rel="stylesheet" type="text/css" href="{% static 'app_admin/w3css/w3.css' %}" />
          <link rel="stylesheet" type="text/css" href="{% static 'app_admin/custom_css/styles.css' %}" >

          <style>
              body{
                margin-top: 70px;
              }
          </style>
      </head>
    {% endblock %}

    {% block body %}
      <body>
        {% block content %}

        {% endblock %}

        {% block default_js %}
            <script src="{% static 'app_admin/jquery/jquery.js' %}"></script>
        <script src="{% static 'app_admin/underscore_js/underscore-min.js' %}"></script>
        <script src="{% static 'app_admin/backbone_js/backbone-min.js' %}"></script>
        <script src="{%  static 'app_admin/bootstrap/js/bootstrap.min.js' %}"></script>
        {% endblock %}

        {% block other_js %}

        {% endblock %}
      </body>
    {% endblock %}
</html>
