{% extends 'app_admin/base_dashboard.html' %}
{% load static %}

{% block main_container %}
     <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <br>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <input type="text"
                class="w3-input w3-text-blue pull-right"
                id="loans-search-val"
                name="loans_search_val"
                placeholder="Search for loan.">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <a class="w3-btn w3-blue-gray pull-left" id="btn-search-loan">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </form>
        <br>
        <div class="w3-container">
            <table class="w3-table w3-striped">
                <thead class="w3-grey w3-text-white">
                    <td>Loan code</td>
                    <td>Circle</td>
                    <td>Applicant</td>
                    <td>Time</td>
                    <td>Amount</td>
                    <td>Need guarantors</td>
                    <td>Is approved</td>
                    <td>Is disbursed</td>
                    <td>Is fully repaid</td>
                </thead>
                <tbody id="loans-table">

                </tbody>
            </table>
        </div>
     </div>
{% endblock %}

{% block other_js %}
    <script>
        var members_table = Backbone.View.extend({});
    </script>

    <script>
        $(document).on('click', '#btn-search-loan', function () {
            var searchVal = $('#loans-search-val').val();
            var srvRqst = $.ajax({
                url:"{% url 'app_admin:search_for_loan_applications' %}",
                data: {
                    search_val: searchVal,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: 'post',
                datatype: 'json',
                beforeSend: function () {}
            });
            srvRqst.done(function(response){
                try {
                    var responseObj = $.parseJSON(response);
                    var html = '';
                    for (var i = 0; i < responseObj.length; i++){
                        var url = 'href="view_loan_application_details/'+responseObj[i]['loan_code']+'/"';
                        html += '<tr>'
                            + '<td>'
                                + '<a class="w3-text-blue cursor-pointer" '+url+'">' + responseObj[i]['loan_code'] + '</a>'
                            + '</td>'
                            + '<td>' + responseObj[i]['circle'] + '</td>'
                            + '<td>' + responseObj[i]['applicant'] + '</td>'
                            + '<td>' + responseObj[i]['time'] + '</td>'
                            + '<td>' + responseObj[i]['amount'] + '</td>'
                            + '<td>' + responseObj[i]['need_guarantors'] + '</td>'
                            + '<td>' + responseObj[i]['is_approved'] + '</td>'
                            + '<td>' + responseObj[i]['is_disbursed'] + '</td>'
                            + '<td>' + responseObj[i]['is_fully_repaid'] + '</td>'
                            + '</tr>';
                    }
                    $('#loans-table').html(html);
                }catch(exp){}finally {}
            });
        });
    </script>
{% endblock %}
