{% extends 'app_admin/base_dashboard.html' %}
{% load static %}
{% load humanize %}

{% block main_container %}
     <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="container">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#member-details">
              <i class="fa fa-user"></i> Member details
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#circles-details">
                <i class="fa fa-briefcase"></i> Circles Details
            </a>
          </li>
          <li>
            <a data-toggle="tab" href="#wallet-transactions">
              <i class="fa fa-money"></i> Wallet transactions
            </a>
          </li>
       </ul>

        <div class="tab-content">
            <div id="member-details" class="tab-pane fade in active">
                <div class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col l4 m4 s4">
                            &nbsp;&nbsp;
                        </div>
                        <div class="w3-col l4 m4 s4">
                        <img src="{{member.passport_image.url}}"
                                 alt="member image"
                                 class="w3-padding-8 w3-center"
                                 style="height: 200px;"/>
                        </div>
                    </div>
                    <br>
                    <br>
                    <table class="w3-table w3-striped">
                <tr>
                    <td>Name</td>
                    <td>{{ member.user.first_name }} {{ member.user.last_name }} {{ member.other_name }}</td>
                </tr>
                <tr>
                    <td>National id</td>
                    <td>{{ member.national_id }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ member.user.email }}</td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td>{{ member.phone_number }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ member.gender}}</td>
                </tr>
                <tr>
                    <td>Nationality</td>
                    <td>{{ member.country }}</td>
                </tr>
                <tr>
                    <td>currency</td>
                    <td>{{ member.currency }}</td>
                </tr>
                <tr>
                    <td>Date registered</td>
                    <td>{{ member.time_registered }}</td>
                </tr>
            </table>
                </div>
            </div>

            <div id="circles-details" class="tab-pane fade">
                <table class="w3-table w3-striped">
                    <thead class="w3-blue-gray w3-text-white">
                        <tr>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Minimum share</td>
                            <td>Circle account number</td>
                            <td>Status</td>
                            <td>Date joined</td>
                            <td>Locked shares</td>
                            <td>Available shares</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in circles %}
                            <tr>
                            <td>{{ obj.circle_name }}</td>
                            <td>{{ obj.circle_type }}</td>
                            <td>{{ obj.minimum_share }}</td>
                            <td>{{ obj.circle_acc_number }}</td>
                                {% if obj.is_active %}
                                    <td>Active</td>
                                {% else %}
                                    <td>Pending</td>
                                {% endif %}
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div id="wallet-transactions" class="tab-pane fade">
              <div class="row">
               <table class="w3-table w3-striped">
                    <thead class="w3-blue-gray w3-text-white">
                        <tr>
                            <td>#</td>
                            <td>Type</td>
                            <td>Source</td>
                            <td>Recipient</td>
                            <td>Transacted by</td>
                            <td>Time</td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trx in transactions %}
                            <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ trx.transaction_type }}</td>
                            <td>{{ trx.source }}</td>
                            <td>{{ trx.recipient }}</td>
                            <td>{{ trx.transacted_by }}</td>
                            <td>{{ trx.transaction_time }}</td>
                            <td>{{ trx.transaction_amount|intcomma }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
       </div>
     </div>

     </div>
     </div>
{% endblock %}

{% block other_js %}
    <script>
        var member_details = Backbone.View.extend({});
    </script>
{% endblock %}
