{% extends 'app_admin/base_dashboard.html' %}
{% load static %}
{% block current_page %}
    <i class="fa fa-users"></i> Member list
{% endblock %}
{% block main_container %}
     <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <br>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <input type="text"
                class="w3-input w3-text-blue pull-right"
                id="member-search-val"
                name="member_search_val"
                placeholder="Search for members.">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <a class="w3-btn w3-blue-gray pull-left" id="btn-search-member">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </form>

        <div class="w3-row w3-container">
            <span class="pull-right">
                {% if is_at_top == False %}
                <a class="w3-text-blue" href="{% url 'app_admin:members' offset=previous_offset %}">
                    <i class="fa fa-angle-double-left"></i> Prev</a>
                    &nbsp;
                {% endif %}

                {% if is_at_end == False %}
                    &nbsp;
                <a class="w3-text-blue" href="{% url 'app_admin:members' offset=next_offset %}">
                     Next <i class="fa fa-angle-double-right"></i>
                </a>
                {% endif %}
            </span>
        </div>
        <br>
        <table class="w3-table w3-striped w3-small w3-responsive">
            <thead class="w3-grey w3-text-white">
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>National ID</td>
                    <td>Phone number</td>
                    <td>Email</td>
                    <td>Gender</td>
                    <td>Date of Joined</td>
                </tr>
            </thead>
            <tbody id="members-table">
                {% for obj in members %}
                    <tr>
                        <td>{{ current_offset|add:forloop.counter }}</td>
                        <td>
                           <a href="{% url 'app_admin:view_member_details' member_id=obj.id %}">
                            {{ obj.user.first_name }} {{ obj.user.last_name }} {{ obj.other_name }}
                           </a>
                        </td>
                        <td>{{ obj.national_id }}</td>
                        <td>{{ obj.phone_number }}</td>
                        <td>{{ obj.user.email }}</td>
                        <td>{{ obj.gender }}</td>
                        <td>{{ obj.user.date_joined }}</td>
                 </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
     </div>
{% endblock %}

{% block other_js %}
    <script>
        var members_table = Backbone.View.extend({});
    </script>

    <script>
        $(document).on('click', '#btn-search-member', function () {
            var searchVal = $('#member-search-val').val();
            var srvRqst = $.ajax({
                url:"{% url 'app_admin:search_for_member' %}",
                data: {
                    search_val: searchVal,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: 'post',
                datatype: 'json',
                beforeSend: function () {}
            });
            srvRqst.done(function(response){
                try {
                    var responseObj = $.parseJSON(response);
                    var html = '';
                    for (var i = 0; i < responseObj.length; i++) {
                        var id = responseObj[i]['id'];
                        var url = 'href="view_member_details/'+id+'/"';
                        html += '<tr>'
                            + '<td>'+(i+1)+'</td>'
                            + '<td>'
                                +'<a class="w3-text-blue cursor-pointer" '+url+'">' + responseObj[i]['name'] + '</a>'
                            + '</td>'
                            + '<td>' + responseObj[i]['national_id'] + '</td>'
                            + '<td>' + responseObj[i]['phone_number'] + '</td>'
                            + '<td>' + responseObj[i]['email'] + '</td>'
                            + '<td>' + responseObj[i]['gender'] + '</td>'
                            + '<td>' + responseObj[i]['date_of_birth'] + '</td>'
                            + '</tr>';
                    }
                    $('#members-table').html(html);
                }catch(exp){}finally {}
            });
        });
    </script>
{% endblock %}
