{% extends 'app_admin/base_dashboard.html' %}
{% load static %}
{% load humanize %}
{% block current_page %}
    <i class="fa fa-arrows-h"></i> M-PESA Transactions
{% endblock %}
{% block main_container %}
     <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
       <br>
        <form class="form-horizontal" method="post" action="{% url 'app_admin:search_for_mpesa_transaction' %}">
          {% csrf_token %}
          <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-2">
              <input type="text"
                class="w3-input w3-text-blue pull-right"
                id="transaction code"
                name="transaction_code"
                placeholder="Transaction code.">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <input type="text"
                class="w3-input w3-text-blue pull-right datepicker-required"
                id="start-date-val"
                name="start_date_val"
                placeholder="Start date.">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <input type="text"
                class="w3-input w3-text-blue pull-right datepicker-required"
                id="end-date-val"
                name="end_date_val"
                placeholder="End date.">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <button class="w3-btn w3-blue-gray pull-left" id="btn-search-for-mpesa-transaction" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <div>
            <table class="w3-table w3-striped">
                <thead class="w3-grey w3-text-white">
                    <tr>
                        <td>Time</td>
                        <td>Transaction ID</td>
                        <td>Is Committed</td>
                        <td>Transaction Type</td>
                        <td>Amount</td>
                        <td>Response</td>
                    </tr>
                </thead>
                <tbody id="transactions-table">
                    {% for obj in transactions %}
                        <tr>
                            <td>{{ obj.time }}</td>
                            <td>
                                <a href="{% url 'app_admin:view_mpesa_transaction' transaction_code=obj.transaction_code %}">
                                    {{ obj.transaction_code }}
                                </a>
                            </td>
                            <td>{{ obj.is_committed }}</td>
                            <td>{{ obj.type }}</td>
                            <td>{{ obj.amount|intcomma }}</td>
                            <td>
                                <textarea rows="3" style="width: 100%">{{ obj.response }}</textarea>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
     </div>
{% endblock %}

{% block other_js %}
     <script src="{% static 'app_admin/bootstrapdatetimepicker/transition.min.js' %}"></script>
     <script src="{% static 'app_admin/bootstrapdatetimepicker/moment.min.js' %}"></script>
     <script src="{% static 'app_admin/bootstrapdatetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
     <script>
       $('.datepicker-required').datetimepicker({
           sideBySide:true,
           collapse:true,
           format: 'YYYY-MM-DD'
       });
    </script>
{% endblock %}
