{% extends 'app_admin/base_dashboard.html' %}
{% load static %}
{% load humanize %}

{% block main_container %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
         <br>
         <br>
         <div class="w3-container">
            <div class="panel-heading border-bottom-blue">
              <i class="fa fa-arrows-h w3-text-green"></i> Transaction
            </div>
            <div class="panel-heading">
                <table class="w3-table w3-striped">
                    <tr>
                        <td>Type</td>
                        <td>{{ transaction.transaction_type}}</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>{{ transaction.transaction_time }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ transaction.transaction_desc }}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{ transaction.transaction_amount|intcomma }}</td>
                    </tr>
                    <tr>
                        <td>Transacted by</td>
                        <td>{{ transaction.transacted_by }}</td>
                    </tr>
                    <tr>
                        <td>Recipient</td>
                        <td>{{ transaction.recipient }}</td>
                    </tr>
                    <tr>
                        <td>Current balance</td>
                        <td>{{ current_balance |intcomma}}</td>
                    </tr>
                </table>
            </div>
          </div>
         <br>
         <br>
    </div>
{% endblock %}

{% block other_js %}
    <script>
        var transaction = Backbone.View.extend({});
    </script>
{% endblock %}
